/* variables */
:root {
    --dark: #202124;
    --light: #fff;
    --highlight: #5865f2;
    --brad: 2px;
  }

/* global body */
body {
    background-color: var(--dark);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    color: var(--light);
}

/* footer display */
header {
    display: flex;
    flex-direction: column;
}
/* title */
.title {
    background-color: var(--highlight);
    text-align: center;
    border-radius: var(--brad);
    padding: 0.5rem;
}

/* anchor tag color */
a {
    color: var(--highlight)
}

/* header & footer unordered list */
header ul, footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    color: var(--highlight);
    list-style: none;
    text-decoration: underline;
    text-decoration-thickness: 2.5px;
    text-underline-offset: 6px;
}

/* header & footer list items hover effect */
header ul li:hover, footer ul li:hover {
    background-color: var(--highlight);
    color: var(--light);
    padding: 7px;
    border-radius: var(--brad);
}
/* unordered list anchor hover effect */
ul a:hover {
    background-color: var(--highlight);
    color: var(--light);
    padding: 7px;
    border-radius: var(--brad);
    text-decoration: none;
}
/* hero picture */
.hero {
    display: flex;
    justify-content: center;
    background-image: url("../images/heropic.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
}
/* hero h2 */
.hero h2 {
    background-color: var(--highlight);
    align-self: flex-end;
    color: var(--light);
    border-radius: var(--brad);
    padding: 0.5rem;
}
/* margin for main content & footer */
main, footer {
    margin: 1rem;
}
/* section title line across */
main h2::after {
    content: "";
    display: block;
    position: relative;
    top: -0.8rem;
    height: 1px;
    margin-left: 7.5rem;
    background-color: var(--light);    
}

/* about container flex display */
.about-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

/* about image */
.about img {
    max-height: 300px;
    max-width: 300px;
    align-self: center;
    border-radius: var(--brad);
}

/* projects container */
.projects{
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}
/* individual projects */
.project, .main-project {
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 8rem;
    border-width: 4px;
    border-color: var(--light);
    border-style: solid;
    border-radius: var(--brad);
}

/*projects image links */
.main-project a, .project a{
    display: block;
    width: 100%;
}

/* projects header */
.project h3, .main-project h3 {
    background-color: var(--highlight);
    align-self: flex-end;
    color: var(--light);
    border-radius: var(--brad);
    padding: 0.5rem;
}

/* setting each project background */
#main-project {
    background-image: url(../images/sportsbud.jpg);
    opacity: 0.5;
}

#quiz {
    background-image: url(../images/coding-quiz.jpg);
    opacity: 0.5;
}

#calc-project {
    background-image: url(../images/calculator.jpg);
    opacity: 0.5;
}

#airbnb {
    background-image: url(../images/airbnb.jpg);
    opacity: 0.5;
}

#travel {
    background-image: url(../images/travel.jpg);
    opacity: 0.5;
}

#rockpaper {
    background-image: url(../images/rockpaper.jpg);
    opacity: 0.5;
}

#password {
    background-image: url(../images/password.jpg);
    opacity: 0.5;
}

#scheduler {
    background-image: url(../images/scheduler.jpg);
    opacity: 0.5;
}

/* opacity change on image hover */
#main-project:hover, #quiz:hover, #scheduler:hover, #calc-project:hover, #airbnb:hover, #travel:hover, #rockpaper:hover, #password:hover{
    opacity: 1;
}

/* footer title line across */
footer h2::after {
    content: "";
    display: block;
    position: relative;
    top: -0.8rem;
    height: 1px;
    margin-left: 7rem;
    background-color: var(--light); 
}

/* media queries */
@media screen and (min-width: 1024px) {
    .project {
        width: 48%;
        flex-grow: 1;
        height: 200px;
    }
    .main-project {
        width: 100%;
        height: 300px;
    }    
}

@media screen and (min-width: 768px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    header .title{
        align-self: auto;
        padding-left: 4rem;    
    }

    .hero{
        justify-content: flex-end;
    }

    header ul, .hero h2, .work, .about, footer {
        margin-right: 2rem;   
    }

    .about-content {
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 8rem;
    }
}